Repository wright-group/WrightTools, pull requests merged in 2019-02, with the labels that each got.

#871 remove fit tests
  tests/fit/propagate_other_channels.data
  tests/fit/propagate_other_channels.py
Labels: cleanup, tests

#872 Ensure error raised when names are not unique
  WrightTools/data/_data.py
  tests/data/dataset_creation.py
  tests/data/unique_names.py
Labels: bug, tests

#874 BUG: fix path handling in save
  WrightTools/_group.py
Labels: bug

#877 use new sphinx api in tests
  tests/docs/_sphinx.py
Labels: bug, tests
